**/*.pyc



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/client/node_modules
src/**/.pnp
src/**/.pnp.js

# testing
src/**/coverage

# production
src/**/build

# misc
src/**/.DS_Store
src/**/.env.local
src/**/.env.development.local
src/**/.env.test.local
src/**/.env.production.local

src/**/npm-debug.log*
src/**/yarn-debug.log*
src/**/yarn-error.log*

# Visual Studio 2015 cache/options directory
.vs/

# Ignore any files in these Folders
**/bin/*
**/obj/*
**/node_modules/*

#Ignore any environment variables
.env