.detail-cards {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1em;
}

.detail-card {
  position: relative;
  width: 188px;
  height: 248px;
  border-radius: 8px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #8a8a8a;
  text-align: left;
  cursor: pointer;
}

.detail-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  filter: brightness(0.92);
}

.detail-card.selected {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  filter: brightness(0.85);
}

.detail-card img {
  width: 188px;
  height: 122px;
  object-fit: cover;
}

.detail-card-img {
  position: relative;
  width: 188px;
  height: 122px;
  border-radius: 4px;
}

.detail-card-img.icons {
  position: absolute;
  left: 5px;
  bottom: -95px;
  width: 188px;
  height: 122px;
  border-radius: 4px;
}

.detail-card-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 11px;
  background-color: #fff;
  border: 2px solid #615aba;
}

.detail-card-inset-title {
  font-size: 8px;
  font-weight: 600;
  color: #6e6b81;
}

.detail-card-title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #1a1183;
}

.detail-card-quantities {
  position: absolute;
  display: flex;
  flex-direction: row;
  color: black;
  bottom: 10px;
}

.detail-card-quantities-subobject {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-right: 12px;
}

.detail-card-quantities-subobject span {
  margin-left: 7px;
  font-weight: 400;
}

.detail-search-filter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.detail-search-filter-search {
  width: 200px;
}
