.speckle-viewer-empty {
  height: 25px;
  transition: all 0.3s;
}

.viewer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-left: 2px solid #1a1183;
  overflow: hidden;
}

.speckle-viewer-shown {
  height: 500px;
  transition: all 0.3s;
}

.viewer-navbar {
  width: 558px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: white;
  height: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.viewer-navbar-title {
  font-size: 18px;
  font-weight: 500;
  color: #1a1183;
}

.viewer-tab-container-content {
  padding: 14px;
}

.viewer-tab-container {
  padding: 0px 5px;
  height: 100%;
  overflow: auto;
}

.property-card {
  position: relative;
  width: 225px;
  border-radius: 8px;
  background-color: #fff;
  padding: 1px;
  margin: 2px;
  border: 1px solid #8a8a8a;
  text-align: left;
  cursor: pointer;
}

.property-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  filter: brightness(0.92);
}

.property-cards {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1em;
}
