.speckle-viewer-empty {
  height: 0px;
  transition: all 0.3s;
}

.speckle-viewer-shown {
  height: 500px;
  transition: all 0.3s;
}

.viewer-navbar {
  width: 560px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
